<html xmlns="http://www.w3.org/1999/xhtml" ng-app="StockTracker">
<head>
    <title></title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/angular/core")
    @Scripts.Render("~/angular/app")

</head>
<body class="container">
    
    <ng-view></ng-view>

</body>
</html>